{% extends 'template.twig' %}
{% block title %} {{ video_title }} {% endblock %}

{% block meta %}

    <meta property="og:title" content="{{ video_title }}" />
    <meta property="og:image" content="https://avekki.000webhostapp.com/public/fichiers/{{ video_link }}" />
    <meta property="og:url" content="https://avekki.000webhostapp.com/public/video/watch/{{video_id}}" />
    <meta property="og:description" content="Rejoignez Dontatune pour regarder la vidéo {{ video_title }}">
    <meta property="fb:admin" />

{% endblock %}

{% block content %}

{% if success_add is defined %}
  <div class="alert alert-success alert-dismissible fade show success_message" role="alert">
  {{ success_add }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
  </div>
{% endif %}

<div class="container-fluid aff_video">
    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="my_video">
                <div class="video"> 
                {% if 'videos' in video.get_lien %}
                <video id="video-control" controls src="{{ video.get_lien }}" data-id="{{ video.get_id }}"></video>
                {% else %}
                <div id="player" data-id="{{ video.get_id }}"></div>
                {% endif %}
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="v_infos">
                <h2> {{ video.get_titre }} </h2>
                <p class="date_add"> {{ video.get_date_ajout|formatDate }} </p>
                <div class="description">
                <span> Description </span>
                <a class="see_description" id="see_description"> Voir la description </a>
                {{ video.get_description | raw }}
                </div>
                <button class="btn btn-success fb-share-button" data-url="https://avekki.000webhostapp.com/public/video/watch/{{video.get_id}}" data-title="{{ video.get_titre }}"> <i class="fab fa-facebook-f"></i> Partager</button>
            </div>

            <div class="commentaires" id="commentaires">
            {% include 'ajax/commentaires.twig' %}
            </div>
        </div>

    </div>
</div>

<script>
// 2. This code loads the IFrame Player API code asynchronously.
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

// 3. This function creates an <iframe> (and YouTube player)
//    after the API code downloads.
var player;
function onYouTubeIframeAPIReady() {
player = new YT.Player('player', {
        playerVars: {
        autoplay: 0,
        showinfo: 0,
        autohide: 1,
        modestbranding: 1,
        vq: 'hd1080',
        rel: 0
    },
    videoId: '{{ video.get_lien }}',
    events: {
    'onReady': onPlayerReady,
    'onStateChange': onPlayerStateChange
    }
});
}

// 4. The API will call this function when the video player is ready.
function onPlayerReady(event) {
//event.target.playVideo();
}

// 5. The API calls this function when the player's state changes.
//    The function indicates that when playing a video (state=1),
//    the player should play for six seconds and then stop.
var done = false;
function onPlayerStateChange(event) {
if (event.data == YT.PlayerState.PLAYING && !done) {
    //setTimeout(stopVideo, 6000);
    done = true;
}
}
function stopVideo() {
player.stopVideo();
}

//BOUTON FACEBOOK

var popupCenter = function(url, title, width, height){
    var popupWidth = width || 640;
    var popupHeight = height || 320;
    var windowLeft = window.screenLeft || window.screenX;
    var windowTop = window.screenTop || window.screenY;
    var windowWidth = window.innerWidth || document.documentElement.clientWidth;
    var windowHeight = window.innerHeight || document.documentElement.clientHeight;
    var popupLeft = windowLeft + windowWidth / 2 - popupWidth / 2;
    var popupTop = windowTop + windowHeight / 2 - popupHeight / 2;
    var popup = window.open(url, title, 'scrollbars=yes, width = ' + popupWidth + ', height = ' + popupHeight + ', top=' + popupTop + ', left = ' + popupLeft);
    popup.focus();
    return true;
}

document.querySelector('.fb-share-button').addEventListener('click', function(e){
    e.preventDefault();
    var url = this.getAttribute('data-url');
    var title = this.getAttribute('date-title');
    var shareUrl = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(url) + "&t=" + encodeURIComponent(title);
    popupCenter(shareUrl, "Partager sur Facebook");
});

</script>


  <script src="{{BASEURL}}js/video.js"></script>
  <script src="{{BASEURL}}js/textarea-expander.js"></script>
{% endblock %}
