{% set BASEURL = constant('BASEURL') %}
<h3> <i class="fas fa-comments"></i> {% if nb_com == 0 %} Aucun avis {% else %} {{ nb_com }} avis {% endif %}</h3>


{% if success_message is defined %} 

<div class="alert alert-success alert-dismissible fade show" role="alert">
<i class="fas fa-check"></i>{{ success_message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>

{% endif %}

<span> Note globale : </span>
{% for m in moyenne %}
    {% if m.moyenne != 0 %}

        {% for i in 1.. m.moyenne|round %}
            <span class="fa fa-star checked"></span>
        {% endfor %}

        {% if 5- m.moyenne|round != 0 %}
            {% for i in 1..(5- m.moyenne|round) %}
            <span class="fa fa-star"></span>
            {% endfor %}
        {% endif %}

        {% else %}

        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>

    {% endif %}
    {% if m.moyenne != 0 %}
    <p class="info_avg"> {{ m.moyenne|round(1, 'ceil') }}/5 </p> 
    <p class="info_avg"> Basée sur {{ m.nbr_notes }} {% if m.nbr_notes > 1 %} notes {% else %} note {% endif %} </p>
    {% else %} 
    <p class="info_avg"> Aucune note </p>
    {% endif %}
{% endfor %}

{% if com is not defined %}
<textarea id="com_contain" name="com_contain" class="form-control expand" {% if nb_com != 0 %} placeholder="Donner un avis sur cette vidéo" {% else %}placeholder="Soyez le premier à commenter cette vidéo" {% endif %}></textarea>
<div class="note" id="note">
    <span class="text-note"> Noter cette vidéo (facultatif) </span>
    <ul class="star_note">
        <li class="fa fa-star" id="1"></li>
        <li class="fa fa-star" id="2"></li>
        <li class="fa fa-star" id="3"></li>
        <li class="fa fa-star" id="4"></li>
        <li class="fa fa-star" id="5"></li>
    </ul>
</div>
<button class="btn btn-success btn_com" id="btn_com">Envoyer <i class="fas fa-paper-plane"></i></button>
{% endif %}

{% if nb_com != 0 %}

    {% for c in commentaires %}
        <div class="commentaire" {% if current_user == c.id_user %} style="background-color: #ebebeb !important;" {% endif %} >
            <img src="{{BASEURL ~ c.avatar }}" alt="Photo de profil de {{ c.pseudo }}"  {% if current_user == c.id_user %} onclick = "window.location.href = '{{BASEURL}}utilisateur/profil';" style="cursor:pointer;" {% endif %} >
            <div class="c_infos">
                {% if c.note != 0 %}
                <div class="c_note">
                    {% for i in 1.. c.note %}
                    <span class="fa fa-star checked"></span>
                    {% endfor %}

                    {% if 5- c.note != 0 %}
                    {% for i in 1..(5- c.note) %}
                        <span class="fa fa-star"></span>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
                <p class="com">{{ c.commentaire|nl2br }}</p>
                <p class="c_infos_user"> {{ c.date_commentaire|formatDate }} par <B>{{ c.pseudo }}</B> </p>
            </div>
            {% if current_user == c.id_user %} <span class="supprimer"> <a id="showSupprimer" data-commentaire="{{ c.id }}"><i class="fas fa-times"></i></a> </span> {% endif %}
            <div class="supprimer-commentaire" id="supprimer-commentaire_{{ c.id }}">
                <p> Confirmer la suppression de votre avis </p>
                <button type="button" class="btn btn-danger annuler">Annuler</button>
                <button type="button" class="btn btn-success" id="delete_comment" data-id="{{ c.id }}" data-user="{{ current_user }}">Oui</button>
            </div>
        </div>

    {% endfor %}

{% else %}

    <div class="alert alert-danger"> Aucun avis pour cette vidéo </div>

{% endif %}