{% set BASEURL = constant('BASEURL') %}
<p class="nb_elmts"> {{ nb_videos }} {% if nb_videos > 1 %} vidéos {% else %} vidéo {% endif %} {% if recherche != NULL %} <span class="ma_recherche">pour la recherche {{ recherche }}</span> {% endif %}</p>
{% if nb_videos != 0 %}

{% for v in videos %}
    <div class="elmt_video">
        <div class="video"> 
          <img src="{{ BASEURL ~ v.miniature }}" alt="Miniature de la vidéo {{v.title}}">
        </div>
        <div class="v_infos">
          <div class="v_text">
            <h2> {{ v.titre }} </h2> 
            {% if v.gratuite == 1 or abonne is defined %} 
              <span class="text-muted free"><i class="fas fa-check"></i></span> 
            {% else %} 
                {% if (v.nbr_achats == 1) %} 
                  <span class="badge badge-success"> Achetée <i class="fas fa-check"></i></span> 
                {% else %} 
                  <span class="text-muted price">EUR {{ v.prix }}</span> 
                {% endif %}
            {% endif %}
          </div>
          {# Affichage des étoiles #}
          {% if v.moyenne != 0 %}

            {% for i in 1..v.moyenne|round %}
              <span class="fa fa-star checked"></span>
            {% endfor %}

            {% if 5-v.moyenne|round != 0 %}
              {% for i in 1..(5-v.moyenne|round) %}
                <span class="fa fa-star"></span>
              {% endfor %}
            {% endif %}

          {% else %}
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          {% endif %}
            <span class="nbr_notes"> ({{ v.nbr_notes }}{% if v.nbr_notes > 1 %} notes{% else %} note{% endif %}) </span>
          {# Fin de l'affichage #}
          {% if (v.gratuite == 0) %}
            {% if (v.nbr_achats == 1) or (abonne is defined) %}
              <a role="button" class="btn btn-success" href="{{BASEURL}}video/watch/{{v.id}}"> <i class="fas fa-video"></i> </a> 
            {% else %}
              <a role="button" class="btn btn-danger" href="{{BASEURL}}video/pay/{{v.id}}"> <i class="fas fa-shopping-cart"></i> </a> 
            {% endif %}
          {% else %} 
            <a role="button" class="btn btn-success" href="{{BASEURL}}video/watch/{{v.id}}"> <i class="fas fa-video"></i> </a> 
          {% endif %} 
        </div>
    </div>

{% endfor %}
{% else %}
<div class="alert alert-danger" role="alert">
  Aucune vidéo à afficher!
</div>
{% endif %}