{% extends 'template.twig' %}
{% block title %} Mes achats {% endblock %}
{% block content %}

{% set total = 0 %}

<div class="achats">

<h1> Vos achats </h1>
 
{% if nb_achats != 0 %}

{% for a in achats %}

    <div class="elmt_video">
        <div class="video"> 
            <img src="{{ BASEURL ~ a.miniature }}" alt="Miniature de la vidéo {{a.title}}">
        </div>
        <div class="v_infos">
            <div class="v_text">
                <h2> {{ a.titre }} </h2> 
            </div>
            <p class="text-muted price">Prix d'achat : EUR {{ a.prix }}</p> 
            <p> <B>Achetée le</B> {{ a.date_achat | date("d/m/Y") }} </p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <a role="button" class="btn btn-success" href="{{BASEURL}}video/watch/{{a.id_video}}"> <i class="fas fa-video"></i> </a>
        </div>
    </div>

    {% set total = total + a.prix %}

{% endfor %}

<p class="total"><B>Total : </B>EUR {{ total }}</p>

{% else %}

<div class="alert alert-danger"> Vous n'avez encore procédé à aucun achat </div>

{% endif %}

</div>

{% endblock %}
