{% extends 'template.twig' %}
{% block title %}  Profil {% endblock %}
{% block content %}

<div class="container profil">

    <div class="row">
        <div class="col-sm-12 col-lg-6 profil_infos">
            <img src="{{BASEURL ~ profil.get_pic }}">
            <h1> {{ profil.get_prenom }} {{ profil.get_nom }} </h1>
            <p class="pseudo"> @{{ profil.get_pseudo }} </p>  
            <p> Membre depuis le {{ profil.get_date_creation | date("d/m/Y") }} </p>
            <p> Mail : {{ profil.get_mail }} </p>
            <button type="button" class="btn btn-success">Modifier</button>
            <button type="button" class="btn btn-danger">Supprimer</button>

            <a data-toggle="collapse" href="#abonnement" role="button" aria-expanded="false" aria-controls="collapseExample">
                Votre abonnement <i class="fas fa-sort-down"></i>
            </a>
            <div class="collapse" id="abonnement">
            <div class="card card-body">
                <div class="alert alert-danger"> Vous n'avez encore souscrit à aucun abonnement </div>
            </div>
            </div>

            <a data-toggle="collapse" href="#paiements" role="button" aria-expanded="false" aria-controls="collapseExample">
                Vos paiements ({{ nb_paiements }}) <i class="fas fa-sort-down"></i>
            </a>
            <div class="collapse" id="paiements" class="paiements">
                <div class="card card-body">
                {% if nb_paiements != 0 %}

                {% for p in paiements %}
                    <p> 
                    Paiement <B>{{ p.payment_id }}</B> du {{ p.payment_date | date("m/d/Y") }} - 
                    {% if p.payment_status == "approved" %}
                        <span style="color:green"> Validé </span>
                    {% else %}
                        <span style="color:red"> Non validé </span>
                    {% endif %}
                    </p>
                    <p> Somme : <b>{{ p.payment_currency }} {{ p.payment_amount }}</b> </p>
                    <hr>
                {% endfor %}

                {% else %}
                    <div class="alert alert-danger"> Vous n'avez aucun paiement à afficher </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
