{% extends 'template.twig' %}
{% block title %} Profil {% endblock %}
{% block content %}

<div class="container profil">

    <div class="modal fade delete_user_modal" id="delete_user_modal" tabindex="-1" role="dialog" aria-labelledby="confirm_delete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="confirm_delete"><i class="fas fa-video"></i><strong>D<span class="violet">o</span>ntatune</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Cette action est irréversible, une fois votre compte supprimé, il vous sera impossible de 
            récupérer les données stockées sur Dontatune. Vos commentaires, vos achats, ou
            votre abonnement seront supprimés également.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-success" id="delete_user">Valider</button>
        </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-6 profil_infos">
        {% if error_message is defined %} 

        <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
        <i class="fas fa-exclamation-circle"></i> {{ error_message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>

        {% endif %}

        {% if success_message is defined %} 

        <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fas fa-check"></i>{{ success_message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>

        {% endif %}

            <div class="modif_img" id="modif_img">
                <img src="{{BASEURL ~ profil.get_pic }}">
                <div class="open_form" onclick="$('#choix-photo').click();"><i class="fas fa-camera"></i></div>
                <form id='form-photo' method='POST' enctype='multipart/form-data' target='myFrame'>
                    <input type='file' name='file' id="choix-photo" style='display:none'/>
                </form>
            </div>
            <h1> {{ profil.get_prenom }} {{ profil.get_nom }} </h1>
            <p class="pseudo"> @{{ profil.get_pseudo }} </p>  
            <p class="member_since"> Membre depuis le {{ profil.get_date_creation | date("d/m/Y") }} </p>
            <p id="mail_user"> Mail : {{ profil.get_mail }} </p>
            <form method="post" action="updateMail" name="test" enctype="multipart/form-data">
                <input type="email" id="input_mail" class="form-control" name="mail" placeholder="Votre nouvelle adresse mail">
                <button class="btn btn-success mail_valid" id="mail_valid" type="submit"><i class="fas fa-check"></i>Valider</button>
            </form>
            <button type="button" class="btn btn-success" id="modif_mail"><i class="fas fa-edit"></i>Modifier</button>
            <button type="button" class="btn btn-danger" id="supp_user" data-toggle="modal" data-target="#delete_user_modal"><i class="fas fa-trash-alt"></i>Supprimer</button>
            </div>
        <div class="col-sm-12 col-lg-6 user_infos">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="abo-tab" data-toggle="tab" href="#abo" role="tab" aria-controls="abo" aria-selected="true"> <i class="fas fa-signature"></i> Votre abonnement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="paie-tab" data-toggle="tab" href="#paie" role="tab" aria-controls="paie" aria-selected="false"> <i class="fas fa-euro-sign"></i> Vos paiements ({{ nb_paiements }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="com-tab" data-toggle="tab" href="#com" role="tab" aria-controls="com" aria-selected="false"> <i class="fas fa-comments"></i> Vos derniers commentaires ({{ nb_coms }}) </a>
                </li>
            </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active p_abos" id="abo" role="tabpanel" aria-labelledby="abo-tab">
                        <div class="alert alert-info"> 
                            <p> Vous n'avez encore souscrit à aucun abonnement </p>
                            <hr>
                            <p class="mb-0">Vous pouvez sélectionner un abonnement qui vous convient afin d'accéder à toutes les vidéos de la 
                            plateforme en cliquant <a href={{BASEURL}}home/abonnement>ici</a></p>
                        </div>
                    </div>
                    <div class="tab-pane fade paiements" id="paie" role="tabpanel" aria-labelledby="paie-tab">
                    {% if nb_paiements != 0 %}
                        <a target="_blank" href="{{BASEURL}}utilisateur/paiements" class="print"><i class="fas fa-print"></i></a>
                        {% for p in paiements %}
                            <p> Paiement du {{ p.payment_date | date("d/m/Y") }} </p>
                            <p> Ref : <B>{{ p.payment_id }}</B> </p>
                            <p> Statut : {% if p.payment_status == "approved" %} <span style="color:green"> Validé </span> {% else %} <span style="color:red"> Non validé </span> {% endif %} </p>
                            <p> Somme : <b>{{ p.payment_currency }} {{ p.payment_amount }}</b> </p>
                            <hr>
                        {% endfor %}
                    {% else %}
                    <div class="alert alert-info"> 
                        <p> Vous n'avez encore effectué aucun achat sur la plateforme </p>
                        <hr>
                        <p class="mb-0">Trouvez les vidéos faites pour vous en cliquant <a href={{BASEURL}}home/board>ici</a></p>
                    </div>
                    {% endif %}
                    </div>
                    <div class="tab-pane fade p_com" id="com" role="tabpanel" aria-labelledby="com-tab">
                    {% if nb_coms != 0 %}
                        {% for c in commentaires %}
                        <div class="commentaire">
                            <div class="c_infos">
                                <p class="c_infos_user"> <span>{{ c.date_commentaire|formatDate }} </span> pour la vidéo <B> {{ c.titre }} </B> </p>
                                <p class="com">{{ c.commentaire|nl2br }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="alert alert-info">Vous n'avez encore commenté aucune vidéo</div>
                    {% endif %}
                    </div>
                </div>
        </div>
    </div>

</div>

<script src="{{BASEURL}}js/profil.js"></script>
{% endblock %}
