{% extends 'template.twig' %}
{% block title %} Abonnements {% endblock %}
{% block content %}


  <div class="container container-abonnements">

    {% if abo_exist is defined %}

      <p> Vous avez déjà souscrit à un abonnement </p>
    
    {% else %}

      {% for a in abos %}

      <div class="columns">
        <ul class="price-abo">
          <li class="header" {% if a.id != 2 %} style="color:#000; background: #FFF;" {% endif %}>
            {{ a.nom }}
          </li>
          <li class="grey grey-price">
          {{ a.prix }}<span class="small-price">€</span>
          {% if a.essai == 1 and a.periode_essai == 0 %} <span class="try"> 7 jours d'essai </span>{% endif %}
          </li>
          <li>{{ a.description }}</li>
          <li class="grey">
          {% if a.essai == 1 and a.periode_essai == 0 %}
            <a href="{{ BASEURL }}home/valid_abo" class="button"> Essayer </a>
          {% else %}
            <a href="{{ BASEURL }}home/pay/{{ a.id }}" class="button"> Souscrire </a>
          {% endif %}
          </li>
        </ul>
        {% if a.nbr_achats != 0 %}
          <p class="badge badge-success"><i class="fas fa-thumbs-up"></i>Top des ventes</p>
        {% endif %}
      </div> 
      
      {% endfor %}

    {% endif %}

  </div>
  
{% endblock %}
