{% extends 'inc/head.twig' %}
{% block title %} Connexion {% endblock %}
{% block main %}

<body class="login_body">
{% set BASEURL = constant('BASEURL') %}

<div class="container-fluid sign">

<h1><i class="fas fa-video"></i>D<span class="violet">o</span>ntatune</h1>
<h2> Plateforme de vidéos en ligne </h2>


{% if error_message is defined %} 

<div class="alert alert-danger alert-dismissible fade show" role="alert"> 
<i class="fas fa-exclamation-circle"></i> {{ error_message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>

{% endif %}

{% if success_message is defined %} 

<div class="alert alert-success alert-dismissible fade show" role="alert">
<i class="fas fa-check"></i>{{ success_message }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>

{% endif %}

<div class="row">
    <div class="col-sm-12 sign_in" id="sign_in">
        <form method="post" action="login">
        <h3> C<span class="violet">o</span>nnexion </h3>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-user"></i></div>
            </div>
            <input type="text" class="form-control" id="username" name="mail" placeholder="Nom d'utilisateur ou email" value="{{ value_mail }}">
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-lock"></i></div>
            </div>
            <input type="password" class="form-control" name="pass" id="password" placeholder="Mot de passe" value="{{ value_pass }}">
        </div>
        <a href="#" class="forgotten_pass"> Mot de passe oublié </a>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="cookie_init">
            <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
        </div>
        <button id="btn_sign_in" class="btn btn-primary">Connexion</button>
        </form>
    </div> 
    <a href="signUp" class="new"> Se créer un compte </a>
</div>

    
<script src="{{BASEURL}}js/validation.js"></script>
</body>

{% endblock %}