{% extends 'template.twig' %}

{% block title %} Accueil {% endblock %}
{% block content %}

  {% for lv in last_video %}

  <div class="lv_container">
    <div class="video" id="video"> 
      <img src="{{ BASEURL ~ lv.miniature }}" alt="Miniature de la vidéo {{lv.title}}">
    </div>

    <div class="lv_infos">
      <div class="lv_infos_content">
        <h2> A la Une </h2>
        <p class="title"> {{ lv.titre }} </p>
        <a role="button" class="btn btn-success" href="#"><i class="fas fa-video"></i>Voir</a>
      </div>
    </div>
  </div>

  {% endfor %}

  <h1> Les dernières vidéos </h1>
  <div class="list_videos">

  {% for v in videos %}

  <div class="elmt_video">
      <div class="video" id="video"> 
        <img src="{{ BASEURL ~ v.miniature }}" alt="Miniature de la vidéo {{v.title}}">
        <div class="blur" id="{{v.id}}"> {% if (v.gratuite == 0) %} <button type="submit" class="btn btn-danger"> <i class="fas fa-shopping-cart"></i> </button> {% else %} <button type="submit" class="btn btn-success"> <i class="fas fa-video"></i> </button> {% endif %} </div>
      </div>
      <div class="v_infos">
        <h2> {{ v.titre }} | {% if v.gratuite == 1 %} <span class="text-muted free">Gratuite</span> {% else %} <span class="text-muted price">{{ v.prix }}€</span> {% endif %}</h2>
        <p style="color:{{ v.couleur }}">{{ v.theme }}</p> 
      </div>
  </div>

  {% endfor %}

  </div>

  <script src="{{BASEURL}}js/video.js"></script>
{% endblock %}
