{% extends 'template.twig' %}

{% block title %} Accueil {% endblock %}
{% block content %}

  <div class="col-sm-12 col-md-12 col-lg-10 list_videos">
  <h1> Les dernières vidéos </h1>

  {% for v in videos %}

  <div class="elmt_video">
    <div class="card mb-4 shadow-sm">
      <div class="video" id="video"> 
      <img src="{{ v.miniature }}" alt="Miniature de la vidéo {{v.title}}">
      <div class="blur" id="{{v.id}}"> {% if (v.gratuite == 0) %} <p> <i class="fas fa-lock"></i> Contenu payant </p> {% else %} <button type="submit" class="btn btn-success"> <i class="fas fa-video"></i> </button> {% endif %} </div>
      </div>
      <div class="card-body">
        <h2 class="title"> {{ v.titre }} | {% if v.gratuite == 1 %} <span class="text-muted free">Gratuite</span> {% else %} <span class="text-muted price">{{ v.prix }}€</span> {% endif %}</h2>
        <p class="tag" style="color:{{ v.couleur }}">{{ v.theme }}</p> 
      </div>
      </div>
  </div>

  {% endfor %}
  </div>
{% endblock %}
