{% extends 'template.twig' %}
{% block title %} Accueil {% endblock %}
{% block content %}

  <div class="col-sm-12 col-md-12 col-lg-10 list_videos">
  <h1> Les dernières vidéos </h1>

  {% for v in videos %}

  <div class="elmt_video">
    <div class="card mb-4 shadow-sm">
      <div class="video" id="video"> 
      <img src="{{ v.miniature }}" alt="Miniature de la vidéo {{v.title}}">
      <div class="blur" id="{{v.id}}"> {% if (v.gratuite == 0) %} <p> <i class="fas fa-lock"></i> Contenu payant </p> {% else %} <button type="submit" class="btn btn-success"> <i class="fas fa-video"></i> </button> {% endif %} </div>
      </div>
      <div class="card-body">
        <h2 class="title"> {{ v.titre }} 
        <span class="badge badge-secondary" style="background:{{ v.couleur }}">{{ v.theme }}</span> 
        </h2>
        <div class="d-flex justify-content-between align-items-center infos">
          {% if v.gratuite == 1 %}
            <p class="text-muted free">Gratuite</p>
          {% else %}
            <p class="text-muted price">{{ v.prix }}€</p>
          {% endif %}
        </div>
      </div>
      </div>
  </div>

  {% endfor %}
  </div>
{% endblock %}
