{% extends 'template.twig' %}
{% block title %}  Profil {% endblock %}
{% block content %}

<div class="container profil">
{% for p in profil %}
    <div class="row">
        <div class="col-sm-12 col-lg-6 profil_pic">
            <h1> {{ p.get_pseudo }} </h1>
            <img src="{{BASEURL ~ p.get_pic }}">
        </div>
        <div class="col-sm-12 col-lg-6 profil_infos">   
            <h2> Informations </h2>
            <p> Nom : {{ p.get_nom }} </p>
            <p> Prenom : {{ p.get_prenom }} </p>
            <p> Date de création : {{ p.get_date_creation }} </p>
            <p> Mail : {{ p.get_mail }} </p>
            <button type="button" class="btn btn-success">Modifier</button>
            <button type="button" class="btn btn-danger">Supprimer</button>

            <a data-toggle="collapse" href="#abonnement" role="button" aria-expanded="false" aria-controls="collapseExample">
                Votre abonnement
            </a>
            <div class="collapse" id="abonnement">
            <div class="card card-body">
                <div class="alert alert-danger"> Vous n'avez encore souscrit à aucun abonnement </div>
            </div>
            </div>

            <a data-toggle="collapse" href="#paiements" role="button" aria-expanded="false" aria-controls="collapseExample">
                Vos paiements ({{ nb_paiements }})
            </a>
            <div class="collapse" id="paiements" class="paiements">
                <div class="card card-body">
                {% if nb_paiements != 0 %}

                {% for p in paiements %}
                    <p> 
                    Paiement <B>{{ p.payment_id }}</B> du {{ p.payment_date | date("m/d/Y") }} - 
                    {% if p.payment_status == "approved" %}
                        <span style="color:green"> Validé </span>
                    {% else %}
                        <span style="color:red"> Non validé </span>
                    {% endif %}
                    </p>
                    <p> Somme : <b>{{ p.payment_currency }} {{ p.payment_amount }}</b> </p>
                    <hr>
                {% endfor %}

                {% else %}
                    <div class="alert alert-danger"> Vous n'avez aucun paiement à afficher </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
