{% extends 'template.twig' %}
{% block title %}  Profil {% endblock %}
{% block content %}

<div class="container profil">
{% for p in profil %}
    <div class="row">
        <div class="col-sm-12 col-lg-6 profil_pic">
            <h1> {{ p.get_pseudo }} </h1>
            <img src="{{BASEURL ~ p.get_pic }}">
        </div>
        <div class="col-sm-12 col-lg-6 profil_infos">   
            <h2> Informations </h2>
            <p> Nom : {{ p.get_nom }} </p>
            <p> Prenom : {{ p.get_prenom }} </p>
            <p> Date de création : {{ p.get_date_creation }} </p>
            <p> Mail : {{ p.get_mail }} </p>
            <button type="button" class="btn btn-success">Modifier</button>
            <button type="button" class="btn btn-danger">Supprimer</button>
            <h2> Votre abonnement </h2>
            <div class="alert alert-danger"> Vous n'avez encore souscrit à aucun abonnement </div>
            <h2> Vos paiements </h2>
            <div class="alert alert-danger"> Vous n'avez aucun paiement à afficher </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
