{% extends 'inc/head.twig' %}
{% block main %}

  <body>

    {% set BASEURL = constant('BASEURL') %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
    <a class="navbar-brand" href="{{BASEURL}}home/board"><i class="fas fa-video"></i><strong>D<span class="violet_navbar">o</span>ntatune</strong>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{BASEURL}}home/board">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{BASEURL}}utilisateur/profil">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{BASEURL}}utilisateur/achats">Mes achats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{BASEURL}}home/abonnement">S'abonner</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="btn btn-success" role="button" href="{{BASEURL}}utilisateur/sign_out">Déconnexion</a>
    </form>
  </div>
</nav>

    <nav class="hide_navbar">
      <div class="nav_item">
        <i class="fas fa-home"></i><a href="{{BASEURL}}home/board">Accueil</a>
      </div>
      <div class="nav_item">
        <i class="fas fa-sliders-h"></i><a href="{{BASEURL}}home/board">Filtrer</a>
      </div>
      <div class="nav_item">
        <i class="fas fa-user"></i><a href="{{BASEURL}}utilisateur/profil">Profil</a>
      </div>  
      <div class="nav_item">
        <i class="fas fa-shopping-cart"></i><a href="{{BASEURL}}utilisateur/achats">Mes achats</a>
      </div>  
      <div class="nav_item search">
        <i class="fas fa-search"></i><a href="{{BASEURL}}utilisateur/profil">Rechercher</a>
      </div>
      <div class="nav_item">
        <i class="fas fa-sign-out-alt"></i><a href="{{BASEURL}}utilisateur/sign_out">Deconnexion</a>
      </div>   
      <div class="separator"></div>
      <a role="button" class="btn btn-success" href="{{BASEURL}}home/abonnement"><i class="fas fa-video"></i>S'abonner</a>
    </nav>

    <div class="site_content">
    {% block content %}
    {% endblock %}
    </div>

    <script src="{{BASEURL}}js/script.js"></script>

  </body>
</html>
{% endblock %}