{% extends 'inc/head.twig' %}
{% block main %}

  <body>

    {% set BASEURL = constant('BASEURL') %}

    <nav class="navbar navbar-expand-lg main_navbar">
      <div class="open">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>

      <a class="navbar-brand" href="{{BASEURL}}home/board"><i class="fas fa-video"></i><strong>D<span class="violet">o</span>ntatune</strong></a> 

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      </form>

    </nav>

    <nav class="hide_navbar">
      <div class="nav_item">
        <i class="fas fa-home"></i><a href="{{BASEURL}}home/board">Accueil</a>
      </div>
      <div class="nav_item">
        <i class="fas fa-sliders-h"></i><a href="{{BASEURL}}home/board">Filtrer</a>
      </div>
      <div class="nav_item">
        <i class="fas fa-user"></i><a href="{{BASEURL}}utilisateur/profil">Profil</a>
      </div>  
      <div class="nav_item">
        <i class="fas fa-shopping-cart"></i><a href="{{BASEURL}}utilisateur/achats">Mes achats</a>
      </div>  
      <div class="nav_item search">
        <i class="fas fa-search"></i><a href="{{BASEURL}}utilisateur/profil">Rechercher</a>
      </div>
      <div class="nav_item">
        <i class="fas fa-sign-out-alt"></i><a href="{{BASEURL}}utilisateur/sign_out">Deconnexion</a>
      </div>   
      <div class="separator"></div>
      <a role="button" class="btn btn-success" href="{{BASEURL}}home/abonnement"><i class="fas fa-video"></i>S'abonner</a>
    </nav>

    <div class="site_content">
    {% block content %}
    {% endblock %}
    </div>

    <script src="{{BASEURL}}js/script.js"></script>

  </body>
</html>
{% endblock %}