{% extends 'inc/head.twig' %}
{% block main %}

  <body>

    {% set BASEURL = constant('BASEURL') %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
    <div class="open">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <a class="navbar-brand" href="{{BASEURL}}home/board"><i class="fas fa-video"></i><strong>D<span class="violet">o</span>ntatune</strong></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{BASEURL}}home/board">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="{{BASEURL}}utilisateur/profil">Mon compte</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="{{BASEURL}}utilisateur/achats">Mes achats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{BASEURL}}home/abonnement">S'abonner</a>
      </li>
    </ul>
    <div class="dropdown dropleft">
      <a href="#" class="account dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{ BASEURL ~ profil.get_pic }}"></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{{BASEURL}}utilisateur/profil"><i class="fas fa-user"></i>Mon compte</a>
          <a class="dropdown-item" href="{{BASEURL}}utilisateur/sign_out"><i class="fas fa-power-off"></i>Déconnexion</a>
        </div>
    </div>
  </div>
</nav>

    <nav class="hide_navbar">
      <div class="nav_item">
        <i class="fas fa-home"></i><a href="{{BASEURL}}home/board">Accueil</a>
      </div>
      <div class="nav_item">
        <i class="fas fa-sliders-h"></i><a href="{{BASEURL}}home/board">Filtrer</a>
      </div>
      <div class="nav_item">
        <i class="fas fa-user"></i><a href="{{BASEURL}}utilisateur/profil">Mon compte</a>
      </div>  
      <div class="nav_item">
        <i class="fas fa-shopping-cart"></i><a href="{{BASEURL}}utilisateur/achats">Mes achats</a>
      </div>  
      <div class="nav_item search">
        <i class="fas fa-search"></i><a href="{{BASEURL}}utilisateur/profil">Rechercher</a>
      </div>
      <div class="nav_item">
        <i class="fas fa-video"></i><a href="{{BASEURL}}home/abonnement">S'abonner</a>
      </div>   
      <div class="separator"></div>
      <a class="btn btn-success sign_out" role="button" href="{{BASEURL}}utilisateur/sign_out"><i class="fas fa-sign-out-alt"></i>Déconnexion</a>
    </nav>

    <div class="site_content">
    <div class="loader" id="loader">
      <img src="{{BASEURL}}images/loader.gif" alt="Chargement de la page">
      <p></p>
    </div>
    {% block content %}
    {% endblock %}
    </div>

    <script src="{{BASEURL}}js/script.js"></script>
    <noscript>
      <div class="no_js">
      Pour accéder à toutes les fonctionnalités de ce site, nous vous conseillons d'activer le javascript dans votre navigateur.
      </div>
    </noscript>

  </body>
</html>
{% endblock %}