{% extends 'template.twig' %}
{% block title %} {{ video_title }} {% endblock %}

{% block meta %}

    <meta property="og:title" content="{{ video_title }}" />
    <meta property="og:image" content="https://avekki.000webhostapp.com/public/fichiers/{{ video_link }}" />
    <meta property="og:url" content="https://avekki.000webhostapp.com/public/video/watch/{{video_id}}" />
    <meta property="og:description" content="Rejoignez Dontatune pour regarder la vidéo {{ video_title }}">
    <meta property="fb:admin"  />

{% endblock %}

{% block content %}

  <div class="aff_video">

  {% for v in video %}

  <div class="my_video" id="shared">
      <div class="video"> 
        <iframe src="{{ v.get_lien }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="v_infos">
        <h2> {{ v.get_titre }} </h2>
        <button class="btn btn-success"><i class="fas fa-expand"></i></button>
      </div>
      <button class="btn btn-success fb-share-button" data-url="https://avekki.000webhostapp.com/public/video/watch/{{v.get_id}}" data-title="{{ v.get_titre }}"> <i class="fab fa-facebook-f"></i> Partager</button>
  </div>

  {% endfor %}

  <div class="commentaires">
  <h3> Commentaires ({{ nb_com }})</h3>
  {% if nb_com != 0 %}
    {% for c in commentaires %}

      <div class="commentaire">
        <img src="{{BASEURL ~ c.avatar }}" alt="Photo de profil de {{ c.pseudo }}">
        <div class="c_infos">
          <p> <b> {{ c.pseudo }} </b> le {{c.date_commentaire|date("d/m/Y")}} </p>
          <p class="com">{{ c.commentaire|nl2br }}</p>
        </div>
      </div>

    {% endfor %}
  {% else %}
    <div class="alert alert-danger"> Aucun commentaire pour cette vidéo </div>
  {% endif %}
  </div>

  </div>

  <script src="{{BASEURL}}js/video.js"></script>
{% endblock %}
